.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# `swift run jpdict-prepare` artifacts
/jmdict-examples-eng-*.json.tgz
/jmdict-examples-eng-*.json
jpdict.sqlite
